.center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paypal_options {
  width: 200px;
  height: 200px;
  left: -25px;
  top: -150px;
}

.buy_token_button {
  width: 207px;
  height: 53px;
  --border-radius: 15px;
  --background: #ff6e6e;
  left: -30px;
  position: relative;
}

.buy_token_label {
  color: #4a4609;
  font-size: 20px;
  margin: 35px;
}

.game-area {
  width: 600px;
  height: 400px;
  // border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.no-margin {
  margin: 0px;
}

.button-list {
  height: 36px;
  width: 176px;
}

.button-list .icon-inner {
  color: white;
}

:host(.button-solid) .icon-inner {
  color: yellow;
}