.center {
  text-align: center;
}

.menu-div-login {
  float: right;
}

.menu-div {
  height: 35px;
  margin-top: -8px;
  float: right;
}

.container {
  // display: flex;
  // justify-content: center;
  top: 20%;
  // align-items: center;
  // height: 100vh;
}

.game-area {
  // width: 600px;
  // height: 400px;
  // border: 1px solid black;
  // position: relative;
  // overflow: hidden;
  justify-content: center;
  display: flex;
}

// .body_content {
//   filter: blur(0px); 
// }

// .body_content :has(.buy_token_button.fab-button-close-active) {
//   filter: blur(2px); 
// }

.paypal_options {
  width: 200px;
  height: 200px;
  left: -45px;
  top: -120px;
  border:2px solid black; 
}

.buy_token_button {
  width: 160px;
  height: 40px;
  --border-radius: 15px;
  --background: #ff6e6e;
  left: -24px;
  position: relative;
}

.buy_token_label {
  color: #fffcd5;
  font-size: 14px;
  margin: 5px;
}


.prize_container {
    text-align: center;
    font-size: 35px;
    /* bottom: 0; */
    /* position: absolute; */
    vertical-align: bottom;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    margin: 10px 0;
}

.no-margin {
  margin: 0px;
}

.button-list {
  height: 36px;
  width: 176px;
}

.button-list .icon-inner {
  color: white;
}

:host(.button-solid) .icon-inner {
  color: yellow;
}