.center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-area {
  width: 600px;
  height: 400px;
  // border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.no-margin {
  margin: 0px;
}

.button-list {
  height: 36px;
  width: 176px;
}

.button-list .icon-inner {
  color: white;
}

:host(.button-solid) .icon-inner {
  color: yellow;
}